@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

html {
    box-sizing: border-box;
}
*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

:root{
    --svart: #000000;
    --hvit: #FFFFFF;
    --gråtone: #D3D3D3;
    --mørkere-gråtone: #A9A9A9;
    --mørkest-gråtone: #36454F;
}

body {
    background-color: var(--gråtone);
    min-height: 100vh;
    display: grid;
    grid-auto-flow: row;
    grid-template-rows: 160px auto 80px;
    grid-template-areas:
        "header"
        "main"
        "footer";
}

body > header {
    font-family: "Rubik", sans-serif;
    font-weight: 500;
    background-color: var(--mørkest-gråtone);
    grid-area: header;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-style: none;
    position: sticky;
    top: -1px;
    z-index: 1000;
}

body > main {
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    grid-area: main;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

body > footer {

    background-color: var(--mørkest-gråtone);
    grid-area: footer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

body > header,
body > main,
body > footer {
    padding-left: 20px;
    padding-right: 20px;
}

.logo-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo-wrapper img {
    height: 110px;
    border-radius: 100%;
    filter: brightness(1000%);
    transition: 300ms ease-in-out;
}

.logo-wrapper img:hover {
    transform: rotate(5deg);
    transition: 300ms ease-in-out;
}

.logo-tekst {
    font-size: 60px;
    margin-left: 50px;
    color: var(--hvit);
}

.logo-tekst:hover {
    text-shadow: 0px 0px 10px var(--mørkere-gråtone);
}

.meny-wrapper a,
.meny-wrapper a:visited {
    text-decoration: none;
    color: var(--hvit);
    font-size: 20px;
}

.meny-wrapper a:hover {
    color: var(--gråtone);
}

.blogg-wrapper {
    max-width: 1200px;
    color: var(--svart);
}

.blogg-wrapper article {
    margin-bottom: 40px;
    padding: 40px;
    background-color: var(--hvit);
    border-radius: 20px;
}

.blogg-wrapper article p {
    font-family: "Rubik", sans-serif;
    font-weight: 400;
}

.blogg-wrapper article p:not(:last-of-type) {
    margin-bottom: 20px;
}

.blogg-wrapper article h3 {
    font-size: 25px;
}

.blogg-wrapper article .blogg-innlegg-tidspunkt {
    margin-bottom: 30px;
}

footer {
    text-align: center;
}

.til-toppen-knapp {
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    cursor: pointer;
    width: 100%;
    color: var(--hvit);
}

.til-toppen-knapp:hover {
    color: var(--gråtone);
}

.form-wrapper {
    
    width: 100%;
    max-width: 1200px;
    background-color: var(--mørkest-gråtone);
    padding: 40px;
    border-radius: 20px;
}

.form-wrapper form {
    display: flex;
    flex-direction: column;
}

.form-wrapper h1 {
    
    margin-bottom: 30px;
    color: var(--hvit);
}

.form-wrapper form input[type="text"],
.form-wrapper form input[type="submit"] {
    font-family: "Rubik", sans-serif;
    font-weight: 500;
    height: 41px;
}

.form-wrapper form input:focus,
.form-wrapper form input:active,
textarea:focus,
textarea:active {
    outline: 1px solid #294919;
}

.form-wrapper form input[type="text"] {
    padding-left: 10px;
}

.form-wrapper form input[type="submit"] {
    color: var(--svart);
    background-color:  var(--mørkere-gråtone);
    border: 0px;
    cursor: pointer;
}

.form-wrapper form input[type="submit"]:hover {
    background-color: var(--gråtone);
}

.form-wrapper form input:not(:last-of-type) {
    margin-bottom: 20px;
}

.form-wrapper form textarea {
    height: 200px;
    margin-bottom: 20px;
    padding: 10px;
    resize: none;
}

.form-wrapper form label {
    color: var(--hvit);
    margin-bottom: 5px;
}
